body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
    overflow-y: scroll;
}
h1{
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: sticky;
    top: 21px;
    width: 100%;
    z-index: 10000;
}
#scrollbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 5px;
    height: 20px;
    background-color: #1515fc;
    z-index: 1;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.cards {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 200px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: #555;
}

.cards:hover {
    background-color: #f0f0f0;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #4CAF50;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #45a049;
}
